<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2>Изображение фоном, ч/з css</h2>
<div class='kitten'></div>

<h2>Изображение картинкой</h2>
<%= image_tag 'test/287.jpg', class: 'img-responsive' %>

<br>
